name: CI/CD

# workflow will get started when a tag starts with "v" has been pushed.
on:
  push:
    tags:
      - v*
      
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build and deploy"
  build_n_deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: build sbt
        run: sbt clean package
      - name: Upload package
        run: echo aws s3 cp blabla  
      - name: list package
        run: ls ./target/scala-2.12
        
