# This is a basic workflow to help you get started with Actions

name: Hello Actions

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the "main" branch
  push:
    tags:  
      - '**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains job called "build" and "upload"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: build sbt
        run: sbt clean package
        
  upload:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Upload package
        run: echo aws s3 cp blabla  

